.taskItemsContainer {
    top: 8rem;
    width: 1080px;
    height: max-content;
    background-color: #424242 !important;
    color: white;
}

.taskItemsContainers {
    margin-top: 100px;
    font-size: 20px;
    margin-right: 10px;
    text-align: left;
}

.taskItemsListHeaderWrapper {
    background-color: #424242;
    color: white;
    margin-top: 140px;
    height: max-content;
    margin-left: 4%;
}

.taskItemsListHeader {
    margin-top: -10.3rem;
    font-weight: 700;
    font-size: 50px;
}

.createNewTaskItemButtonWrapper {
    margin-top: -2.8rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}

.groupElements:hover {
    background-color: #b3b3b3;
    cursor: default;
}

.btn-groups {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #b3b3b3;
    margin-left: 100%;
    margin-top: -13px;
}

.btn-groups:hover {
    background-color: #d9d9d9;
}

.taskItemsContainers {
    padding-bottom: 20vh;
}

.deleteButton {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-left: 575px;
    margin-bottom: -5%;
    font-size: 20px;
    padding: 5px 17px 5px 17px;
}
.deleteButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}
.editButton {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 3%;
    font-size: 20px;
    padding: 5px 17px 5px 17px;
}
.editButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}