.subjectsContainer{
    height: max-content;
    /*background-color: red;*/
    width: max-content;
}
.subjectsContainer {
    background-color: #424242 !important;
    color: white;
}

.subjectsContainers {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 23px;
    margin-top: 5px;
}

.createNewSubjectButtonWrapper {
    margin-top: -2.8rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}

.subjectsContainers {
    padding-bottom: 20vh;
}

.subjectsTableBtn {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    margin-top: 3%;
    margin-left: 43%;
    height: max-content;
    margin-bottom: 20px;
}
.subjectsTableBtn:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
    color: white;
}
.subjectsTableBtnText {
    color: white;
    text-decoration: none;
}
.subjectsTableBtnText:hover {
    color: white;
}
