.gradesValuesContainer{
}
.gradeNameValueContainer {
    margin-top: 50px;
}
.gradesValuesContainer .gradeValueWrapper:hover {
    cursor: default;
    background-color: #b3b3b3;
}

.gradeValueWrapper {
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background-color: #B3B3B3;
    text-align: center;
    padding: 10px 5px 5px 10px;
    color: black;
    width: 500px;
    word-break: break-all;
    border: 2px solid white;
}
.gradeValue {
    text-align: center;
}
.gradeTaskGroupNameWrapper{
    text-align: center;
    width: 500px;
    margin-right: 10px;
    margin-top: -50px;
    word-break: break-word;
}
.gradeTaskGroupName{
    color: white;
    font-size: 20px;
}

