body {
    min-width: 400px;
}

#tasks-list {
    margin-bottom: 20vh;
}

.subjectsText{
    margin-top: 5%;
}

.enterSubject{
    margin-left: 2%;
    margin-right: 32%;
    font-weight: 500;
    font-size: 25px;
}

.enterDuration {
    font-weight: 500;
    font-size: 25px;
}

#input-subject {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 400px;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #B3B3B3;
    margin-right: 5px;
}

.addSubject {
    padding: 10px;
    width: max-content;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #B3B3B3;
    color: white;
    border: none;
}

.addSubject:hover {
    background: #D9D9D9;
    color: black;
}

.subjectsBackBtn {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 2px 10px 2px 10px;
    margin-top: 3%;
    margin-left: 2%;
    height: max-content;
}

.subjectsBackBtn:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
    color: white;
}

.subjectsBackBtnText {
    color: white;
    text-decoration: none;
}

.subjectsBackBtnText:hover {
    color: white;
}
