.timeTablesContainer {
    top: 8rem;
    width: 1080px;
    height: max-content;
    background-color: #424242 !important;
    color: white;
}

.timeTablesContainers {
    margin-top: 100px;
    font-size: 20px;
    margin-right: 10px;
    text-align: left;
}

.timeTablesListHeaderWrapper {
    background-color: #424242;
    color: white;
    margin-top: 130px;
    height: max-content;
    margin-left: 42%;
}

.timeTablesListHeader {
    margin-top: -5.8rem;
    font-weight: 700;
    font-size: 50px;
    margin-left: -19%;
}

.timeTablesContainers {
    padding-bottom: 20vh;
}
