.fa-footer {
    color: white;
    font-size: 33px !important;
    margin-right: 10px;
}

.fa-footer:hover {
    opacity: 0.7;
    color: #D9D9D9;
}

#footer {
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: stretch;
    text-align: center;
    background-color: black;
}

#main-content, #dev {
    display: inline-item;
    justify-content: center;
}

#credits {
    margin-top: 5px;
    color: #fff;
    font-weight: 500 !important;
    font-size: 15px !important;
}
