@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<head><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="site.css">
<link rel="stylesheet" href="bootstrap.css">
</head>
<style>
	body {
		background-color: #424242;
        color: #b3b3b3;
	}
    button {
		background-color: #424242;
        color: white;
	}
	@@font-face {
		font-family: 'Open Sans';
		src: url("@Url.Content("~/css/OpenSans.woff")") format('woff');
	}
	.Font_OpenSans {
		font-family: 'Open Sans'
	}
</style>

<div>
    <h2>Променете настройките на профила си</h2>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
