@page
@model Disable2faModel
@{
    ViewData["Title"] = "Нулиране на двуфакторно удостоверяване (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Това действие нулира 2FA.</strong>
    </p>
    <p>
        Деактивирането на 2FA не променя ключовете, използвани в приложенията за удостоверяване. Ако искате да смените ключа
        използвани в приложение за удостоверяване, което трябва <a asp-page="./ResetAuthenticator">нулиране на удостоверяващите ключове.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Нулирай 2FA</button>
    </form>
</div>
