@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждаване на email";
}

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="%PUBLIC_URL%/favicon-mansor.ico">
</head>

<style>
    .nav-link {
        color: white !important;
    }
    body {
		background-color: #424242;
        color: white;
	}
</style>

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
