@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Потвърждаване на възстановяващ код";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Вие поискахте да влезете с код за възстановяване. Това влизане няма да бъде запомнено, докато не предоставите
    код на приложението за удостоверяване при влизане или деактивирайте 2FA и влезте отново.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Влизане</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}