@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Натиснете тук за изход</button>
            </form>
        }
        else
        {
            <p>Успешно излязохте от сайта.</p>
        }
    }
</header>
