@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Потвърждение на профила";
}

<style>
    .nav-link {
        color: white !important;
    }
    body {
		background-color: #424242;
        color: white;
	}
</style>

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натиснете тук, за да потвърдите профила си</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

