@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за нулиране на парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола беше нулирана. Моля <a asp-page="./Login"> натиснете тук за влизане</a>.
</p>
