/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

body {
    background-color: #424242 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

::selection {
    color: white;
    background-color: black;
}

.header {
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
}

.body-container {
    width: 800px;
    margin-left: 20%;
    margin-bottom: 100px;
    padding-top: 330px;
    margin-top: -200px;
}

.logo {
    width: 150px;
    height: 130px;
    padding: 10px 10px 10px 10px;
    margin-left: 360px;
    margin-top: 10px;
}

#heading-container {
    background-color: #000000;
    margin: 0;
    margin-bottom: 50px;
    height: 150px;
}

.company-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 400;
    float: right;
    padding-right: 66px;
    color: #4D4D4D;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    padding: 0;
    padding-left: 0px !important;
}
/*li {
    float: left;
}*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#task:hover {
    background-color: #B3B3B3;
    color: black;
    cursor: pointer;
}

#shedule:hover {
    background-color: #B3B3B3;
    color: black;
    cursor: pointer;
}

#notes:hover {
    background-color: #B3B3B3;
    color: black;
    cursor: pointer;
}

.functionalities {
    text-align: center;
    background-color: #000000;
    color: white;
}

.p-2:hover:not(.active) {
    background-color: #D9D9D9;
    color: black;
}

.main-content {
    margin-top: -40px;
    margin-right: 100px;
    font-family: Arial;
    color: white;
}

#tasksImg, #tableImg, #notesImg {
    border: 10px solid #D9D9D9;
    height: 300px;
    width: max-content;
    display: none;
    margin-left: -150px;
}

#modal-tasks, #modal-table, #modal-notes {
    margin-left: 380px;
    width: 450px;
    display: none;
    margin-bottom: 100px;
}

.tasks-content, .table-content, .notes-content {
    margin-left: -150px;
    color: white;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

#btn-close {
    margin-left: -150px;
    color: #B3B3B3;
    background-color: #424242;
    border: 4px solid#B3B3B3;
    width: 100px;
    font-size: 20px;
}

    #btn-close:hover {
        background-color: #B3B3B3;
        color: black;
    }

.calendar-demo {
    margin-top: 10%;
    margin-bottom: 10vh;
    background-color: #b3b3b3;
    padding: 2%;
    width: 100%;
    margin-bottom: 30vh;
    height: 400px;
    padding-top: 10%;
    /*padding-bottom: 50px;*/
}

.calendarContainer {
    margin-right: 68%;
    margin-top: -23%;
}

.calendarText {
    margin-left: -0.6%;
    color: #424242;
    margin-top: -10%;
    margin-bottom: 20vh;
}

.calendar-content {
    color: #424242;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -8%;
    margin-right: 35%;
}

.initialView {
    margin-left: 5%;
    font-size: 15px;
    margin-bottom: 15px;
}

.calendar {
    margin-left: 180%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
