.specialitiesContainer {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.specialitiesContainer .specialityNameWrapper {
    margin-left: 1.125rem;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d9d9d9;
    color: black;
    margin-bottom: -30px;
    font-size: 20px;
    margin-right: 5px;
    border: 3px solid #424242;
    width: 1080px;
    height: min-content;
}

.specialitiesContainer .specialityNameWrapper:hover {
    cursor: default;
    background-color: #b3b3b3;
}

.specialitiesContainer .specialitiesNameWrapper .speciality {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.useSpecialityButtonWrapper {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.useSpecialityButtonWrapper .useButton {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 15px;
    padding: 2px 10px 2px 10px;
}

.useSpecialityButtonWrapper .useButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}

.useButtonText {
    color: white;
    text-decoration: none;
}

.useButtonText:hover {
    color: white;
    text-decoration: none;
}
