@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработването на вашата заявка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим на разработка</h3>
<p>
    Преминаването към <strong>разработваща</strong> среда ще покаже по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата за разработка не трябва да се активира в разгърнати приложения.</strong>
</p>
