.daysContainer {
    font-weight: 400;
    font-size: 18px;
    line-height: 27.24px;
    margin-left: 28.2rem;
    margin-top: 3.2rem;
}

.daysContainer .dayNameWrapper{
    margin-top: -7rem;
    text-align: center;
    position: relative;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: -30px;
    font-size: 20px;
    margin-right: 5px;
    height: min-content;
    width: 150px;
}
.daysContainer .dayNameWrapper .day {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}
.dayName {
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-decoration-line: none;
}
.useDayButtonWrapper {
}
.showButtonText {
    /*margin-top: -17rem;*/
    margin-left: 40px;
    color: white;
    text-decoration-line: none;
    font-weight: 500;
}
.dayName:hover {
    color: white;
    text-decoration-line: underline;
}
