.gradesListHeaderWrapper {
    background-color: #424242;
    color: white;
    margin-top: 130px;
    height: max-content;
    margin-left: 42%;
    width: max-content;
}
.gradesListHeader {
    margin-top: -5.8rem;
    font-weight: 700;
    font-size: 50px;
    margin-left: -50px;
}
