a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body{
    overflow-x: hidden;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.navbar-brand {
    margin-left: 9%;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#navigation-content {
    background-color: black !important;
    left: 0px;
    right: 0px;
    height: 100px;
}

.logo-img {
    margin-left: 35px;
}

#btn-login:hover {
    background-color: #b3b3b3;
    color: black;
}

#btn-login {
    color: white;
}

#btn-groups {
    position: absolute;
    bottom: 0px;
    margin-left: 9%;
    margin-right: 4px;
}

#btn-groups:hover {
    background-color:#B3B3B3;
    color: black;
}

#brand {
    font-size: 35px;
    color: #424242;
    margin-left: 0px;
}

