.notesContainer {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.notesContainer .noteNameWrapper{
    margin-left: 1.125rem;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d9d9d9;
    color: black;
    margin-bottom: -30px;
    font-size: 20px;
    margin-right: 5px;
    border: 3px solid #424242;
    width: 1080px;
    height: min-content;
}
.noteContentWrapper {
    width: 1000px;
    min-height: 140px;
    max-height: 500px;
    background-color: #d9d9d9;
    margin-bottom: 9px;
    color: black;
    margin-top: -8px;
    word-break: break-all;
    padding-left: 3px;
}
.noteTitleWrapper {
    background-color: #b3b3b3;
    text-align: center;
}
.notesContainer .notesTitleWrapper .note {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.useNoteButtonWrapper {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.useNoteButtonWrapper .noteButton {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 15px;
    padding: 2px 10px 2px 10px;
}

.useNoteButtonWrapper .noteButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}

.noteButtonText {
    color: white;
    text-decoration: none;
}

.noteButtonText:hover {
    color: white;
    text-decoration: none;
}

.deleteNoteButtonWrapper {
    margin-left: -11%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.deleteNoteButtonWrapper .deleteNoteButton {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-left: 36rem;
    font-size: 15px;
    padding: 2px 10px 2px 10px;
}
.deleteNoteButtonWrapper .deleteNoteButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}