body {
    background-color: #424242 !important;
}

#noteForm {
    width: 600px;
    border-radius: 20px;
    background-color: #B3B3B3;
    margin-top: 2%;
    margin-left: 23%;
    margin-bottom: 20vh;
    height: max-content;
}

#note-txt {
    margin-left: 30%;
    color: white;
    margin-bottom: -5px;
}

#line {
    height: 5px;
    border-width: 0;
    color: black;
    background-color: black;
    margin-top: 3%;
}

.inputs {
    margin-left: 10%;
    white-space: nowrap;
}

label {
    font-size: 25px;
    color: black;
    margin-right: 10px;
}

#note-title {
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 500px;
    margin-bottom: 10px;
    border-bottom: 5px solid white;
    white-space: nowrap;
}

#note-content {
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 500px;
    font-size: 15px;
    max-height: 150px;
    min-height: 150px;
    border-bottom: 5px solid white;
    white-space: nowrap;
}

#btn-noteForm {
    width: 160px;
    height: 47px;
    font-size: 20px;
    margin-left: 37%;
    margin-top: 3%;
    background-color: #b3b3b3;
    border: 6px solid #D9D9D9;
    border: none;
    color: white;
}

#btn-cancel {
    width: 160px;
    height: 47px;
    font-size: 20px;
    margin-left: 37%;
    margin-bottom: 3%;
    border: none;
    background-color: #b3b3b3;
}

#btn-noteForm:hover {
    text-decoration-line: underline;
}

#btn-cancel:hover {
    text-decoration-line: underline;
}

#cancel-text {
    color: black;
    text-decoration-line: none;
}

.form-control:focus {
    border-bottom: 5px solid white;
}

.errorNote{
    margin-left: 10%;
}