.menu-bar-calendar{
    margin-top: -2.5%;
    margin-left: 5%;
}

#container {
    display: flex;
    margin-top: 5%;
    margin-bottom: 20vh;
    margin-right: 25%;
}

.dx-calendar {
    margin-top: -32.7%;
    margin-right: -25%;
    width: 450px;
    background-color: #d9d9d9;
    /*border-radius: 10px;*/
}

.calendar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
    margin-left: 13%;
}

.dx-calendar-navigator-next-view .dx-button-content:hover{
    background-color: #b3b3b3;
    color: black;
}

.dx-calendar-navigator-previous-view .dx-button-content:hover {
    background-color: #b3b3b3;
    color: black;
}
.dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content {
    color: white;
    background-color: #b3b3b3;
}
.dx-calendar-cell:not(.dx-calendar-other-month) .weekend,
.dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    text-shadow: none;
    font-weight: bold;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .weekend {
    color: #3030ff;
}

.dx-state-disabled.dx-calendar .dx-calendar-cell:not(.dx-calendar-other-month) .weekend {
    color: #8080ff;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    color: #ff3030;
}

.dx-state-disabled.dx-calendar .dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    color: #ff8080;
}

.dx-calendar-week-number-cell .week-number {
    font-style: italic;
}

.dx-checkbox-text {
    color: white;
}

.dx-calendar-navigator-next-view.dx-button .dx-icon{
    color: white;
}

.dx-calendar-navigator-previous-view.dx-button .dx-icon {
    color: white;
}

.dx-calendar-cell.dx-calendar-selected-date, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

.dx-calendar-cell.dx-calendar-selected-date {
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

.dx-calendar-cell-active-date {
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

.dx-calendar-cell.dx-calendar-selected-date {
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

.caption {
    font-weight: 500;
    font-size: 18px;
}

.optionsList {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    color: white;
    margin-right: -31%;
    margin-top: -4%;
    margin-left: 10%;
}

.options {
    margin-top: 10px;
    color: white;
}
